@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root {
  --gold: linear-gradient(90deg, #F9A93F 0%, #A86B28 100%);
  --goldDark: #A86B28;
  --green: linear-gradient(90deg, #008E45 0%, #003E0E 100%);
  --greenDark: #003B0C;
  --b100: #263238;
  --b87: #101828;
  --b60: rgba(0, 0, 0, 0.60);
  --b24: rgba(0, 0, 0, 0.24);
  --white: #fff
}

#root {
  width: 100%;
  font-family: 'Almarai', sans-serif;
}

header {
  direction: rtl;
  width: 100%;
  padding: 16px 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--b24);
}

header .actions {
  display: flex;
  align-items: center;
  gap: 16px;
}


a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Almarai;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 32px;
}

a.btn.p {
  background-image: var(--green);
  color: var(--white);
}

a.btn.s {
  color: var(--greenDark);
  border: 1px solid var(--greenDark);
}

/*********************Mob********************/
@media (max-width: 767px) {
  header {
    padding: 16px 16px;
  }

  header img {
    height: 48px;
    width: auto;
  }

  header .actions :nth-child(2) {
    display: none;
  }
}