@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root {
  --gold: linear-gradient(90deg, #F9A93F 0%, #A86B28 100%);
  --goldDark: #A86B28;
  --green: linear-gradient(90deg, #008E45 0%, #003E0E 100%);
  --greenDark: #003B0C;
  --b100: #263238;
  --b87: #101828;
  --b60: rgba(0, 0, 0, 0.60);
  --b24: rgba(0, 0, 0, 0.24);
  --white: #fff
}

#root {
  width: 100%;
  font-family: 'Almarai', sans-serif;
}

/* Buttons ********************/
a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Almarai;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 32px;
  gap: 10px;
}

a.btn.p {
  background-image: var(--green);
  color: var(--white);
}

a.btn.s {
  color: var(--greenDark);
  border: 1px solid var(--greenDark);
}

/* header ********************/
header {
  direction: rtl;
  width: 100%;
  padding: 16px 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--b24);
}

header .actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Hero ********************/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 88px 108px;
  gap: 48px;
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 900px;
}

.hero .content h1 {
  color: #000;
  font-size: 64px;
  font-weight: 800;
  line-height: 88px;
}

.hero .content h1 span {
  background: var(--gold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .content p {
  color: rgba(0, 0, 0, 0.60);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.hero .actions {
  display: rtl;
  display: flex;
  gap: 12px;
}

/* Values ********************/
section.value {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 108px;
  gap: 20px;
  max-width: 1440px;
  margin: auto;
}

section.value .illu {
  width: 50%;
  height: auto;
  padding: 36px 112px;
}

section.value .content a {
  width: fit-content;
  flex-direction: row-reverse;
}

section.value .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section.value .content .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.value .content .text .head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section.value .content .text .head span {
  color: var(--goldDark);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

section.value .content .text .head h2 {
  color: var(--b100);
  font-family: Almarai;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
}

section.value .content .text p {
  color: var(--b60);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/*********************Mob********************/
@media (max-width: 767px) {

  /* header ********************/
  header {
    padding: 16px 16px;
  }

  header img {
    height: 48px;
    width: auto;
  }

  header .actions :nth-child(2) {
    display: none;
  }

  /* Hero ********************/
  .hero {
    padding: 48px 16px;
  }

  .hero .content h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
  }

  .hero .content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .hero .actions {
    flex-direction: column-reverse;
    width: 100%;
  }

  /* value ********************/
  section.value {
    flex-direction: column-reverse !important;
    padding: 48px 16px;
    gap: 40px;
  }

  section.value .illu {
    padding: 20px 20px;
    width: 100%;
  }

  section.value .content {
    width: 100%;
  }
  section.value .content .text .head h2 {
    font-size: 28px;
    line-height: 40px;
  }
  
}